.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #202020;
    color: #f3f0f9;
    z-index: 1000;
}

.header-inner {
    width: 100%;
    height: 100%;
    padding: 0 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #f3f0f9;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Pretendard-Medium';
}

.menu-button {
    width: 44px;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;

    background: transparent;
    border: none;
    cursor: pointer;
}

.menu-button span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: #f3f0f9;
    transition: 0.3s ease;
}

.menu-button:hover span {
    background-color: #00B3B3;
}